<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vocabulary Trip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8920122B154DBC5800047084</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>895156A11573EAA100E185AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89515A4C1573ECC800E185AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89515DF41574032500E185AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>895160E51574039D00E185AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>895163D61574047400E185AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>895166C71574521C00E185AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89564FEF15163D3D006EC175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>895652DB15163D48006EC175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8961D96F157EE7AF0014EEC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89D4DC2F151D632D00D73C74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8A9ACB156C7A900078572E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEB5BA3A1550C03A00A82E70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
